body{
  background-color: #05220b;
  color: aliceblue;
}

a.navbar-brand{
  font-size: 50px;
  color: antiquewhite;
}
#country-area{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}
.card {

  background-color: #3e2222;

  border: 1px solid #00000020;

  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 5px 1px #000200;

}